#
# Sample configuration file
#
# Modify this to use your own configurations!
#

# Target power table entries.
# target_power=<RegulatoryDomain>,<ChannelStart>,<ChannelEnd>,<TargetPower>
target_power=ETSI,11,26,1000
target_power=FCC,11,14,1700
target_power=FCC,15,24,2000
target_power=FCC,25,26,1600

# Region domain mapping table entries.
# region_domain_mapping=<RegulatoryDomain>,<Region>,<Region>,...
region_domain_mapping=FCC,AU,CA,CL,CO,IN,MX,PE,TW,US
region_domain_mapping=ETSI,WW

# Power calibration table entries.
# calibrated_power=<ChannelStart>,<ChannelEnd>,<ActualPower>,<RawPowerSetting>
calibrated_power=11,25,1900,112233
calibrated_power=11,25,1000,223344
calibrated_power=26,26,1500,334455
calibrated_power=26,26,700,445566
