*.a
*.db
*.gcda
*.gcno
*.log
*.o
*.opendb
*.orig
*.pyc
*.suo
*.trs
*.user
*~
.deps
.dirstamp
.DS_Store
.local-version
aclocal.m4
autom4te.cache
build
configure
config.log
config.status
doc/Doxyfile
doc/html
include/openthread-config.h
include/openthread-config.h.in
include/stamp-h1
ipch
libtool
Makefile
Makefile.in
output
